@media (min-width: 300px) {
    .gridWrapper3 {
        display: grid;
        grid-template-rows: 1fr repeat(6, 3fr);
        text-align: center;
        justify-items: center;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-top: 10%;
    }

    .user0 {
        width: 100%;
        height: 100%;
    }

    .user1 {
        width: 100%;
        height: 100%;
    }

    .user2 {
        width: 100%;
        height: 100%;
    }

    .user3 {
        width: 100%;
        height: 100%;
    }

    .user4 {
        width: 100%;
        height: 100%;
    }

    .user5 {
        width: 100%;
        height: 100%;
    }

}

@media (min-width: 900px) {
    .gridWrapper3 {
        grid-template-rows: 1fr 5fr 5fr;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 0;
        margin-top: 0;
        grid-template-areas: "mt mt mt" "u0 u1 u2" "u3 u4 u5"
    }

    .mainText {
        grid-area: mt;
    }

    .user0 {
        grid-area: u0;
    }

    .user1 {
        grid-area: u1;
    }

    .user2 {
        grid-area: u2;
    }

    .user3 {
        grid-area: u3;
    }

    .user4 {
        grid-area: u4;
    }

    .user5 {
        grid-area: u5;
    }
}

@media (min-width: 1400px) {
    .gridWrapper3 {
        grid-template-columns: 1fr repeat(3, 2fr) 1fr;
        grid-template-areas: ". mt mt mt ." ". u0 u1 u2 ." ". u3 u4 u5 ."
    }

}