.download-section {
    text-align: center;
}

.main-btn {
    font-size: 25px !important;
}

.download-flex-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10%;
}
.responsive-download-element{
    height: 350px;
    width: 350px;
    border-radius: 20px;
    text-align: center;
    margin: 3% 1%;
}