h1{
    color: white !important;
}
@media (min-width: 300px) {
    .gridWrapper {
        display: grid;
        grid-template-rows: 1fr 3fr;
        justify-items: center;
    }

    .introText {
        text-align: center;
    }

    .carousel {
        max-height: 100%;
        max-width: 100%;
    }
}

@media (min-width: 900px) {
    .gridWrapper {
        height: 100vh;
    }
}

@media (min-width: 1400px) {
    .gridWrapper {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: ". it it it . " ". bc bc bc ." ;
    }
    .carousel{
        grid-area: bc;
    }
    .introText{
        grid-area: it;
    }
}