h1 {
    color: white;
    padding: 10px;
}

p {
    color: white;
    font-size: 20px;
    padding: 5px;
}
.content {
    /*height: 30%;*/
    /*text-align: center;*/
    /*margin: auto;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    text-align: center;
}
.center{
    grid-row: 2/3;
}