.flexWrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 15px;
}

.flexWrapper > div {
    background-color: transparent;
    width: 150px;
    height: 150px;
}

.footer {
    position: relative;
    bottom: 0;
    padding: 10px 40px;
    margin-top: 5%;
}

.footerHead {
    color: white;
    font-size: 16px;
    font-family: var(--fonts);
    margin-bottom: 13px;
}

.footerElement {
    color: var(--splitSoundOrange);
    font-size: 16px;
    font-family: var(--fonts);
    padding: 0;
    margin: 0;
}

hr {
    background-color: #282828;
    height: 1px;
    border: 0;
}

/*TEMP CSS PROPERTIES TILL WE FIGURE OUT WHAT WE WANT THERE*/

.footerElement:hover {
    color: orangered;
    cursor: pointer;
}

