@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Oswald');

.main {
    font-family: 'Karla', sans-serif;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/heaphones-cropped-to-mobile.jpg");
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: auto;
    background-size: cover;
}

@media (min-width: 600px) {
    .main {
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/headphone-pic.jpg");
    }
}

.navbar {
    background-color: rgba(0, 0, 0, .2) !important;
}

.navbar .navbar-nav li a {
    color: #D44500 !important;
    font-size: 20px;
    font-family: "Karla", sans-serif;
}


.content {
    width: inherit;
    height: fit-content;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.router-animation-enter-active{
    animation: fadeInRight 1s;
    animation-delay: .1s;
    opacity: 0;
}
.router-animation-leave-active{
    animation: fadeOutLeft 1s;
}
@keyframes going {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50px);
        opacity: 0;
    }
}
@keyframes coming {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}